/* 모바일 스타일 */
@media (max-width: 768px) {
   #MENU_BTN {display: block}

   #SIDEBAR {
      background: linear-gradient(180deg, var(--background), var(--background-pre));
      margin-top: 20px;
      border: 1px solid var(--background-light);
      position: fixed;
      top: 76px; left: 0;
      height: calc(100% - 160px);
      width: 280px;
      transform: translateX(-100%);
      transition: transform .2s ease;
      backdrop-filter: blur(4px);
      z-index: 600;
   }

   #SIDEBAR.open {transform: translateX(0)}
}

/* 모바일 벗어남 */
@media (min-width: 768px) {#MENU_BTN {display: none}}