:root {
   --background: #0b1220;
   --background-alpha: rgba(0,0,0,0.4);
   --background-light: rgba(200,200,200,.1);
   --background-side: rgba(255,255,255,.04);
   --background-pre: rgba(200,200,200,.15);

   --accent: oklch(.549 .2105 277.72);
   --accent-alpha: rgba(100, 50, 200, .3);
   --accent-light: oklch(70.414% 0.1657 288.941);
   --accent-light-alpha: rgba(193, 126, 234, .3);
   --accent-green: yellowgreen;
   --accent-cyan: rgba(54, 254, 173, 0.85);

   --title: #fff;
   --subtitle: rgba(255,255,255,.6);
   --content: #eee;
   --content-code: rgba(255, 131, 120, .95);
   --content-highlight: #FFE600;
   --content-warning: #ff6f3a;
   --content-info: #5a4bff;
   --content-tip: #ffb732;
}

@font-face {
   font-family: 'Pyeongchang';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Regular.woff2') format('woff2');
   font-weight: normal;
   font-display: swap;
}
@font-face {
   font-family: 'D2Coding';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
   font-weight: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Minecraft-Event';
   src: url('assets/fonts/minecrafter/Minecrafter.Reg.ttf')
}
@font-face {
   font-family: 'GMarketSans';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
   font-weight: 500;
   font-display: swap;
}

html, body {
   height: 100%;
   overflow: hidden;
}

body {
   background: linear-gradient(180deg, var(--background) 50%, #070707 100%);
   color: var(--content);
   font-family: 'Pyeongchang';
}

#TOPBAR {
   display: flex;
   position: relative;
   top: 0; left: 0; right: 0;
   height: 64px;
   background: var(--background-side);
   border: 8px ridge var(--background-light);
   align-items: center;
   justify-content: center;
   padding: 0 16px;
   z-index: 1000;
}
#MORE_BTN svg {
   transition: transform .3s ease;
   position: absolute;
   flex-shrink: 0;
   top: 18px;
   right: 18px;
   background: none;
   border: none;
   color: var(--title);
   cursor: pointer;
   line-height: 1;
   align-items: center;
   justify-self: center;
}
#MORE_BTN:hover svg {
   transform: rotate(-180deg);
}
#MORE_BTN.open svg {
   transform: rotate(-180deg);
   color: var(--accent-light);
}
#MORE_LIST {
   overflow-y: auto;
   position: fixed;
   top: 96px;
   right: 0;
   width: 240px;
   height: calc(100% - 160px);
   background: linear-gradient(180deg, var(--background), var(--background-pre));
   backdrop-filter: blur(8px);
   border-radius: 12px 0 0 12px;
   border: 1px solid var(--background-light);
   transform: translateX(100%);
   transition: transform .2s ease;
   padding: 1rem;
   z-index: 999;
   display: flex;
   flex-direction: column;
   gap: 12px;
}
#MORE_LIST.open {
   transform: translateX(0);
}
#MORE_LIST a {
   border-radius: 6px;
   cursor: pointer;
   transition: background .1s;
   padding: 10px 20px;
   color: var(--content);
   text-decoration: none;
   display: block;
}
#MORE_LIST a:hover {
   background: var(--accent-alpha);
   border-left: 4px solid var(--accent);
   transition: .125s ease;
}
#MORE_LIST::-webkit-scrollbar {width: 12px;}
#MORE_LIST::-webkit-scrollbar-track {background: var(--background-side); border-radius: 4px;}
#MORE_LIST::-webkit-scrollbar-thumb {background-color: var(--accent); border-radius: 4px}
#MORE_LIST::-webkit-scrollbar-thumb:hover {background-color: var(--accent-light)}

#TOP_TITLE {
   position: relative;
   display: flex;
   align-items: center;
   cursor: pointer;
   top: 3px;
   color: var(--title);
   transition: .1s ease;
   font-family: 'Minecraft-Event';
   font-size: clamp(20px, 4vw, 55px);
}
#TOP_TITLE::after,
#HOME_TITLE::after {
   position: absolute;
   top: 110%;
   left: 50%;
   transform: translateX(-50%);
   background: var(--background-light);
   color: var(--accent-cyan);
   font-size: 14px;
   padding: 4px 10px;
   border-radius: 8px;
   white-space: nowrap;
   opacity: 0;
   pointer-events: none;
   transition: opacity .2s ease;
}
#TOP_TITLE:hover::after,
#HOME_TITLE:hover::after {
   opacity: 1;
   visibility: visible;
}
#TOP_TITLE:has(#HOME_TITLE:hover)::after {
   opacity: 0;
   visibility: hidden;
}

/* 개별 문구 설정 */
#TOP_TITLE::after {content: 'Jump ↔ Dive 문서를 전환합니다.';}
#HOME_TITLE::after {content: '메인 페이지로 이동합니다.';}

/* 진행 바 */
#PROGRESS {
   position: fixed;
   top: 0;
   left: 0;
   width: 0%;
   height: 6px;
   border-radius: 1px;
   background: var(--accent);
   transition: width .1s linear;
   z-index: 9999;
}
/* 로딩 중 */
#LOADING {
   z-index: 99999;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--background-alpha);
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--title);
   font-size: 36px;
   font-weight: bold;
   backdrop-filter: blur(8px);
}

#SEARCH{
   padding: 10px 12px;
   border-radius: 16px;
   background: var(--glass);
   border: 1px solid var(--title);
   color: var(--subtitle);
   outline: none;
}
#SEARCH:focus{
   border-color: var(--accent-green);
}
.SEARCH_HIGHLIGHT {
   background: var(--content-highlight);
   color: black;
   border-radius: 3px;
   padding: .0625em 2px;
}

#FOOTER a {
   opacity: .6;
   font-size: 10px;
   margin-left: -20px;
   padding: 0px 20px;
   color: rgba(255,255,255,.3);
   text-decoration: none;
   font-family: 'Minecraft-Event';
}
#FOOTER a:hover {
   text-decoration: underline;
   color: rgba(255,255,255,.35)
}

.APP {
   margin-top: 8px;
   height: calc(100% - 48px);
   display: flex;
}


#SIDEBAR {
   height: calc(100% - 110px);
   min-height: 0;
   background: var(--background-side);
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   gap: 12px;
   padding: 1rem;
   margin-bottom: 50px;
   transition: flex .1s ease;
}


#PAGES {
   flex: 1;
   min-height: 0;
   overflow-x: hidden;
   overflow-y: auto;
   margin-bottom: 24px;
}
#PAGES::-webkit-scrollbar {width: 12px;}
#PAGES::-webkit-scrollbar-track {background: var(--background-side); border-radius: 4px;}
#PAGES::-webkit-scrollbar-thumb {background-color: var(--accent); border-radius: 4px}
#PAGES::-webkit-scrollbar-thumb:hover {background-color: var(--accent-light)}

.SIDE_ITEM {
   display: block;
   padding: 8px 6px;
   margin: 4px 10px;
   border-radius: 6px;
   cursor: pointer;
   color: var(--content);
   text-decoration: none;
   transition: background .1s;
}
.SIDE_ITEM:hover {
   background: var(--accent-alpha);
   border-left: 4px solid var(--accent);
   transition: .125s ease;
}
.SIDE_ITEM[data-slug="null"]:hover {
   pointer-events: none;
   cursor: default;
   background: rgba(0,0,0,0);
}
.SIDE_ITEM.active {
   background: var(--accent-light-alpha);
   border-left: 4px solid var(--accent-light);
   transition: .3s ease;
}

.CONTENT {
   flex: 1;
   padding-left: 20px;
   overflow-y: auto;
   margin-bottom: 70px;
}
.CONTENT::-webkit-scrollbar {width: 16px;}
.CONTENT::-webkit-scrollbar-track {background: var(--background-alpha); border-radius: 4px;}
.CONTENT::-webkit-scrollbar-thumb {background-color: var(--accent); border-radius: 4px}
.CONTENT::-webkit-scrollbar-thumb:hover {background-color: var(--accent-light)}


#TITLE {
   font-size: 40px;
   color: var(--title);
}
#SUBTITLE {
   font-size: 28px;
   margin-top: -24px;
   margin-bottom: 28px;
   color: var(--subtitle);
}

#ARTICLE {
   min-width: auto;
   overflow-x: hidden;
   background: var(--background);
   padding: 22px
}
#ARTICLE a {
   color: var(--accent);
}
#ARTICLE a:hover {
   transition: .1s ease;
   color: var(--accent-light);
}
#ARTICLE :not(pre) > code {
   background: var(--background-pre);
   font-family: 'D2Coding';
   color: var(--content-code);
   padding: .2em .4em;
   border-radius: 6px;
   font-size: .9em;
}
#ARTICLE pre {
   cursor: copy;
   padding:12px;
   border-radius:8px;
   overflow:auto;
   font-family: 'D2Coding';
   background: var(--background-pre);
   font-size: 14px;
}
#ARTICLE pre::-webkit-scrollbar {width: 8px; height: 10px;}
#ARTICLE pre::-webkit-scrollbar-track {background: rgba(255, 255, 255, 0.05); border-radius: 4px}
#ARTICLE pre::-webkit-scrollbar-thumb {background-color: var(--accent); border-radius: 4px}
#ARTICLE pre::-webkit-scrollbar-thumb:hover {background-color: var(--accent-light)}

#ARTICLE img:not(.EMOJI), video {
   display: block;
   max-width: 100%;
   height: auto;
   margin: 12px 0;
   border-radius: 8px;
   object-fit: contain;
}
img.EMOJI {
   display: inline-block;
   max-width: 100%;
   height: 20px;
   border-radius: 8px;
   object-fit: contain;
   vertical-align: middle;
}

#LINK_PREVIEW {
   position: absolute;
   display: none;
   background: var(--background);
   border: 1px solid var(--accent);
   border-radius: 8px;
   padding: 10px;
   font-size: 14px;
   color: var(--title);
   box-shadow: 0 2px 6px var(--subtitle);
   z-index: 9998;
   pointer-events: none;
   line-height: 1.5;
   opacity: 0;
}
#LINK_PREVIEW.show {
   opacity: 1;
}

.BOX {
   display: flex;
   gap: 6px;
   align-items: center;
   padding: 12px 8px;
   border-radius: 8px;
   margin: 8px 0;
   white-space: pre-wrap;
}
.BOX_ICON {
   width: 36px;
   height: 36px;
   flex-shrink: 0;
   filter: brightness(1.75);
}
.BOX_TEXT {font-family: 'GMarketSans'}
.BOX_warning {
   background-color: var(--background-light);
   border-left: 5px solid var(--content-warning);
}
.BOX_info {
   background-color: var(--background-light);
   border-left: 5px solid var(--content-info);
}
.BOX_tip {
   background-color: var(--background-light);
   border-left: 5px solid var(--content-tip);
}

.ANNOTATION {
   font-weight: bold;
   cursor: help;
   position: relative;
   display: block;
   font-size: 32px;
   background-color: var(--background-light);
   padding: 12px 12px;
   margin-bottom: 12px;
   border-left: 5px solid;
   border-radius: 4px;
   font-family: 'Minecraft-Event';
}
.ANNOTATION.DEPRECATED {border-color: #ff5555;}
.ANNOTATION.TODO {border-color: #ffcc00;}
.ANNOTATION.NOTE {border-color: #55ff55;}

#ARTICLE details {
   background: var(--background-light);
   border-left: 4px solid var(--accent-green);
   border-radius: 6px;
   padding: 8px 12px;
   line-height: 1.6;
   margin: 12px 0;
   transition: background 0.3s;
}
#ARTICLE details summary {
   color: white;
   padding-left: 3px;
   cursor: pointer;
   font-weight: bold;
}
#ARTICLE details summary:hover span {
   color: var(--background);
   background-color: var(--accent-cyan);
   padding: 0 2px;
   border-radius: 8px;
   transition: background-color 0.1s ease;
}
#ARTICLE details p {
   color: var(--subtitle);
   margin: 6px 0 0 0;
}

#ARTICLE details summary {
   list-style: none;
   cursor: pointer;
}
#ARTICLE details summary::-webkit-details-marker {
   display: none;
}
#ARTICLE details summary::before {
   content: "";
   display: inline-block;
   width: 18px;
   height: 36px;
   margin-top: 18px;
   margin-right: 6px;
   background-image: url("assets/img/emoji/close.png");
   background-size: cover;
   vertical-align: middle;
   filter: brightness(1.5);
}
#ARTICLE details[open] summary::before {
   background-image: url("assets/img/emoji/open.png");
}

#ARTICLE table {
   max-width: 800px;
   border-collapse: collapse;
   margin: -10px 0;
   margin-bottom: 8px;
   background: var(--background-light);
   border-radius: 12px;
   overflow: hidden;
}
#ARTICLE th {
   background: var(--background-pre);
   font-weight: bold;
}
#ARTICLE td, th {
   padding: 10px 14px;
   border-bottom: 1px solid var(--background-alpha);
   font-size: 0.95em;
   color: var(--title);
   text-align: left;
}
#ARTICLE tr:hover td {
   background: var(--background-side);
   cursor: cell;
}
#ARTICLE tr:last-child td {
   border-bottom: none;
}